<html>
  <head>
      <title>The is my first go app</title>
  </head>
  <body>
      <h1>リンク一覧</h1>
  <form method="post" action="/new">
      <p>名前<input type="text" name="name" size="30" placeholder="入力してください" ></p>
      <p>pass<input type="text" name="path" size="30" placeholder="入力してください" ></p>
      <p><input type="submit" value="Send"></p>
  </form>
  <ul>
      {{ range .links }}
          <li>{{.Name}} is {{.Path}}</li>
      {{ end }}
  </ul>
  </body>
</html>
